<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated javaBeans -->
      <package
            uri="http:///javaBeans.ecore"
            class="javaBeans.JavaBeansPackage"
            genModel="model/javaBeans.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated javaBeans -->
      <parser
            type="javabeans"
            class="javaBeans.util.JavaBeansResourceFactoryImpl"/>
   </extension>

</plugin>
